<ag-grid-angular #agGrid style="width: 500px; height: 150px;" class="ag-theme-balham"
                 [gridOptions]="gridOptions"
                 [columnDefs]="columnDefs"
                 [rowData]="rowData"
                 [singleClickEdit]="true"
                 [defaultColDef]="defaultColDef"
                 [columnTypes]="columnTypes"
                 [enableColResize]="true"
                 [rowDragManaged]="true"
                 [components]="components"
                 [enableFilter]="true">
</ag-grid-angular>

